.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs/hazards/Uranium_mines/Uranium_mines.zip
docs/hazards/Uranium_mines/Uranium_mines_cache/gfm/unnamed-chunk-3_fb287aedcb866491e51cc8bc07a965b6.rdx
docs/hazards/Uranium_mines/Original_Data_Sources/DB4/MRDS.ZIP
docs/hazards/Uranium_mines/Uranium_mines_cache/gfm/unnamed-chunk-3_fb287aedcb866491e51cc8bc07a965b6.rdb
