.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs/hazards/Uranium_mines/Uranium_mines.zip
docs/hazards/Uranium_mines/Uranium_mines_cache/gfm/unnamed-chunk-3_fb287aedcb866491e51cc8bc07a965b6.rdx
docs/hazards/Uranium_mines/Original_Data_Sources/DB4/MRDS.ZIP
docs/hazards/Uranium_mines/Uranium_mines_cache/gfm/unnamed-chunk-3_fb287aedcb866491e51cc8bc07a965b6.rdb
docs/hazards/ICS209_plus/ics.zip
docs/hazards/ICS209_plus/ics209plus-source.zip
docs/hazards/ICS209_plus/ICS209_Plus_cache/gfm/unnamed-chunk-3_aef267834d7dd2b092ae3b48e9c9476a.rdb
docs/hazards/ICS209_plus/ics209plus-wildfire/ics209-plus-wf_sitreps_1999to2020.csv
*.zip
download\?path=%2F5.625deg&files=all_5.625deg.zip
geopotential_500_5.625deg.zip
geopotential_500_5.625deg.zip
geopotential_500_5.625deg.zip
geopotential_500_5.625deg.zip
file.rar
geopotential_500_5.625deg.zip
docs/hazards/FIRED/fired_conus_ak_to_January_2022_gpkg_shp/conus_ak_to2022001_events.gpkg
docs/hazards/ICS209_plus/ICS209_Plus_cache/gfm/unnamed-chunk-3_3f94989461c9bc5ad90875dfa4961849.rdb
docs/hazards/Uranium_mines/Uranium_mines_cache/gfm/unnamed-chunk-3_69e1ac7630485bfb3f2d679a12cbcd13.rdb
docs/AI/weatherbench/weatherbench_cache/gfm/unnamed-chunk-7_c964b35d5a79d58a7fe4937fbcd7676b.rdb
